@import "reset";
@import "variables";

body {
  background-color: $bgColor;
}

#app {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.card-container{
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn{
  width: 90px;
  height: 23px;
  padding: 4px 10px;
  background: #FFFFFF;
  border: 2px solid #483D8B;
  border-radius: 20px;
  text-decoration: none;
  line-height: 23px; // centre verticalement
  justify-self: center;
}