@import "reset";
@import "variables";

body {
  background-color: $bgColor;
}

#app {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

//.card-container{
//  display: flex;
//  box-sizing: border-box;
//  flex-wrap: wrap;
//  justify-content: space-evenly;
//}

.card-container{
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

@media screen and (min-width: 2360px){
  .card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1860px){
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1860px){
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1400px){
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 960px){
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.btn{
  width: 90px;
  height: 23px;
  padding: 4px 10px;
  background: #FFFFFF;
  border: 2px solid #483D8B;
  border-radius: 20px;
  text-decoration: none;
  line-height: 23px; // centre verticalement
  justify-self: center;
  color: black;
}